<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-query.html">
<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/my-elements/modal-element.html">
<link rel="import" href="../style/flaty-bootstrap.html">

<dom-module id="category-view">
  <template>
    <style include="flaty-bootstrap" >
        :host {
            display: block;
        }
    
        paper-icon-button{
            color: black;
        }
        
        paper-input{
            width: 100%;
        }
        
        .category-item{
            display: inline;
        }
        
        paper-button{
            background-color: green;
            color: white;
        }
        
        table{
            margin-top: 3%;
        }
        
        paper-fab{
            position: fixed;
            bottom: 30px;
            right: 30px;
        }
          /*        Small devices (landscape phones, 576px and up)*/
        @media (min-width: 576px) {
        
        }

    /*        Medium devices (tablets, 768px and up)*/
        @media (min-width: 768px) {    
        
        }

    /*        Large devices (desktops, 992px and up)*/
        @media (min-width: 992px) {
         
        }

    /*        Extra large devices (large desktops, 1200px and up)*/
        @media (min-width: 1200px) {
       
        }
    </style>

    <app-route
        route="{{route}}"
        pattern="/:category"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>
    
    <firebase-auth 
       user={{user}}> 
    </firebase-auth>

    <firebase-query
        id="query"
        path="/categories"
        data={{categories}}>        
    </firebase-query>
    
    <div class="container">
        <modal-element id="modal">
            <div class="row">
                <paper-input class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 " id="inputName" label="Nome"></paper-input>
                <paper-input class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-8 " id="inputDescription" label="Descriçao"></paper-input>            

                <paper-button class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-8 offset-xl-2" on-tap="_addCategory">Nova 
                Categoria</paper-button>            
            </div>
        </modal-element>
        <h2>Categorias</h2>
        <div class="row">
<!--
            <paper-input class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 " id="inputName" label="Nome"></paper-input>
            <paper-input class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 " id="inputDescription" label="Descriçao"></paper-input>            
-->
            <paper-input class="col-12 col-sm-12 col-md-6 col-lg-2 col-xl-4" id="inputSearch" label="Buscar" type="search" on-change="_search" value="{{inputSearch}}">
                <iron-icon icon="search" slot="prefix"></iron-icon>
            </paper-input>            
        </div>
        <div>
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>                  
                        <th scope="col">Categoria</th>
                        <th scope="col">Descriçao</th>                        
                        <th scope="col">Açoes</th>
                    </tr>
                </thead>
                <tbody>
                    <template is="dom-repeat" items="{{categories}}" as="cat">
                        <tr>
                            <td>
                                <a on-click="_setKey" 
                                    category="[[cat]]" 
                                    href="/detail/categories/[[cat.name]]/[[cat.$key]]">[[cat.name]]</a>
                            </td>
                            <td>[[cat.description]]</td>                            
                            <td>                            
                            <paper-icon-button category="[[cat]]" icon="delete" class="red" on-tap="_removeCategory">
                            </paper-icon-button>
                            <paper-icon-button category="[[cat]]" icon="mode-edit">
                            </paper-icon-button>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
        <paper-fab icon="add" on-tap="_showModalCategory"></paper-fab>
    </div>
  </template>

  <script>
    class CategoryView extends Polymer.Element {
      static get is() { return 'category-view'; }
        static get properties() {
            return {
              route:{
                  type: Object
              },
              categoryList:{
                  type: Object
              },
              itemKey:{
                  type: String,
                  notify: true
              }
            };
        }
        
        _addCategory(){
            let response = this.$.query.ref.push({
                name: this.$.inputName.value,
                description: this.$.inputDescription.value
            });        
//            console.log("Response " + response.key);
            this.$.inputName.value = null;
            this.$.inputDescription.value = null;
            this.$.modal._desativa();
//            for(let i in this.$.query.data){
//                console.log("Item " + i + " = " + this.$.query.data[i].name);
//            }
        }

        _removeCategory(e){
            let key = e.currentTarget.category.$key;
            this.$.query.ref.child(key).remove();
//            for(let i in this.$.query.data){
//                console.log("Item " + i + " = " + this.$.query.data[i].name);
//            }
        }

        _setKey(e){
            console.log("Entrei setKey");
            let key = e.currentTarget.category.$key;
            this.itemKey = key;
        }
        
        _search(){
            
        }
        
        _showModalCategory(){
            this.$.modal.ativa();
        }
    }

    window.customElements.define(CategoryView.is, CategoryView);
  </script>
</dom-module>
