<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/aws/aws-app.html">
<link rel="import" href="../../bower_components/aws/aws-s3.html">
<link rel="import" href="../../bower_components/my-elements/modal-element.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../style/flaty-bootstrap.html">

<dom-module id="category-detail-view">
  <template>
    <style include="flaty-bootstrap">
        :host {
            display: block;
        }
        
        table{
            margin-top: 3%;
        }
        
        img{
            width: 60px;
            height: 60px;
        }
         
        paper-fab{
            position: fixed;
            bottom: 30px;
            right: 30px;
        }
    </style>

    <app-route
        route="{{route}}"
        pattern="/categories/:category/:key"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>
 
    <aws-app
        access-key-id="AKIAJZFK3QVD4NS7NNUQ"
        secret-access-key="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"
        region="eu-west-1">        
    </aws-app>
    
    <aws-s3
        id="bucket"
        bucket-name="mercado-em-casa-bucket">
    </aws-s3>
    
    <firebase-query
        id="query"
        path="/categories/{{routeData.key}}/products"    
        data="{{products}}"
    ></firebase-query>
    
    <div class="container">
        <h2>{{routeData.category}}</h2>
        <modal-element id="modal">
            <h3>Novo Produto</h3>
            <div class="row">
                <paper-input id="inputCode" label="Código" class="col-3 col-md-3 col-lg-3" readonly></paper-input>
                <paper-input id="inputName" label="Produto" class="col-9 col-lg-9" type="text"></paper-input>
                <paper-input id="inputDescription" label="Descrição" class="col-12 col-lg-12" type="text" ></paper-input>
                <paper-input id="inputPrice" label="Preço" class="col-2 col-lg-2" type="number"></paper-input>
                <paper-input id="inputBrand" label="Marca" class="col-4 col-lg-4"></paper-input>
                <paper-input id="inputQtdUnity" label="Quantidade Por Unidade" class="col-4 col-lg-4"></paper-input>
                <paper-input id="inputMeasurementUnit" label="Unidade de Medida" class="col-2 col-lg-2"></paper-input>
                <paper-input id="inputPhoto" label="Foto" class="col-8 col-lg-8" type="file" on-change="_readURL" name="image" accept="image/*"></paper-input>
                <img src="[[imageURL]]" alt="" class="rounded">
            </div> 
            <div class="row">
                <paper-button id="add" on-tap="_addProduct" raised class="col-5 offset-1 btn-success">Add Produto</paper-button>    
                <paper-button id="buildCode" on-tap="_buildCode" raised class="blue col-5 btn-primary">Gerar Código</paper-button>  
                <paper-button id="savePhoto" on-tap="_savePhoto" raised class="blue col-5 btn-primary">Salvar Foto</paper-button>  
            </div>
        </modal-element>
        
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>    
                    <th scope="col">Código</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descriçao</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Quantidade Unidade</th>
                    <th scope="col">Açoes</th>
                </tr>
            </thead>
            <tbody>
                <template is="dom-repeat" items="{{products}}" as="prod">
                    <tr>
                        <th scope="row">[[prod.prodCode]]</th>
                        <td><a on-click="" href="/product/detail/[[prod.$key]]/[[prod.name]]">[[prod.name]]</a></td>
                        <td>[[prod.description]]</td>
                        <td>R$[[prod.price]]</td>
                        <td>[[prod.brand]]</td>
                        <td>[[prod.qtdUnity]][[prod.measurementUnit]]</td>
                        <td>
                        <paper-icon-button product="[[prod]]" icon="delete" class="red" on-tap="_removeProduct">
                        </paper-icon-button>
                        <paper-icon-button product="[[prod]]" icon="mode-edit">
                        </paper-icon-button>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>        
        <paper-fab icon="add" on-tap="_showModalNewProduct"></paper-fab>
    </div>    
  </template>

  <script>
    class CategoryDetailView extends Polymer.Element {
      static get is() { return 'category-detail-view'; }
      static get properties() {
        return {
          route:{
              type: Object
          },
            
          key: String,
          imageURL: String
        };
      }
        
          _addProduct(){
              console.log("Entrei AddProduto");
            this.$.query.ref.push({                
                name: this.$.inputName.value,
                prodCode: this.$.inputCode.value,
                description: this.$.inputDescription.value,
                price: this.$.inputPrice.value,
                brand: this.$.inputBrand.value,
                qtdUnity: this.$.inputQtdUnity.value,
                measurementUnit: this.$.inputMeasurementUnit.value
            });
            this.$.modal._desativa();  
            this.$.inputCode.value = null;  
            this.$.inputName.value = null;
            this.$.inputDescription.value = null;
            this.$.inputPrice.value = null;
            this.$.inputBrand.value = null;
            this.$.inputQtdUnity.value = null;
            this.$.inputMeasurementUnit.value = null;
        }
        
        _removeProduct(e){
            let key = e.currentTarget.product.$key;
            this.$.query.ref.child(key).remove();            
        }
        
        _buildCode(){
            let name = this.$.inputName.value;
            let brand = this.$.inputBrand.value;
            let qtdUnity = this.$.inputQtdUnity.value;
            
            this.$.inputCode.value = name.toLowerCase().substring(0,3)
                + '-' + brand.toLowerCase().substring(0,2)
                + '-'+ qtdUnity.toLowerCase();
        }
        
        _readURL(response){
            let files = response.target.inputElement.inputElement.files;
            
            this.imageURL = URL.createObjectURL(files[0]);
        }
        
        _savePhoto(){
            let files = this.$.inputPhoto.inputElement.inputElement.files;
            this.$.bucket.insertFile(files[0], "key_test");
        }
        
        _showModalNewProduct(){
            this.$.modal.ativa();
        }
    }

    window.customElements.define(CategoryDetailView.is, CategoryDetailView);
  </script>
</dom-module>
