<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<dom-module id="home-view">
  <template>
    <style include="flaty-bootstrap">
        :host {
        position: absolute;  
        display: block;
        top: 64px;
        left: 0;
        right: 0;
        bottom: 0;
        }
    </style>
    
    <div class="container">
        <iron-list
           items="[[menuItems]]" 
           as="item">
                   <template>
                       <a href="[[item.nameRoute]]">[[item.name]]</a>
                   </template>                
        </iron-list>
    </div>
  </template>

  <script>
    class HomeView extends Polymer.Element {
      static get is() { return 'home-view'; }
      static get properties() {
        return {
          menuItems: {
            type: Array
          }
        };
      }
    }

    window.customElements.define(HomeView.is, HomeView);
  </script>
</dom-module>
