<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<dom-module id="login-view">
    <template>
        <style>
            :host{
                display: block;
                position: absolute;
                top: 64px;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: var(--paper-purple-500);
                transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                z-index: 1;
                color: var(--paper-purple-50);
                
                @apply --layout;
                @apply --layout-center-center;
            }
        </style>
         
        <firebase-auth 
            id="auth" 
            user="{{user}}"
            provider="google" 
            signed-in="{{signedIn}}"
            on-error="_showError">
        </firebase-auth>
        
        <form on-submit="_signInWithEmailAndPassword" hidden$="[[signedIn]]">
                <input value="{{email::input}}" type="email" placeholder="Email">
                <input value="{{password::input}}" type="password" placeholder="Password">
                <button type="submit" on-tap="_signInWithEmailAndPassword">Sign In</button>
                <button type="button" on-click="_createUserWithEmailAndPassword">Sign Up</button>
        </form>

<!--
        <div>
            <paper-button on-tap="_signIn" hidden$="{{signedIn}}">
                <iron-icon icon="account-circle"></iron-icon>
                <span>Sign In</span>
            </paper-button>
            
-->
            <paper-button on-tap="_signOut" hidden$="{{!signedIn}}">
                <iron-icon icon="account-circle"></iron-icon>
                <span>Sign Out</span>
            </paper-button>
<!--        </div>-->
    </template>
    <script>
        class LoginView extends Polymer.Element{
            static get is(){ return 'login-view';}
            
            static get properties(){
                return{
                    signedIn:{
                      value: Boolean,
                      notify: true
                    },
                    user:{
                        type: Object,
                        notify: true,
                        observer: '_showUserData'
                    }
                };
            }
            
            _showUserData(newValue, oldValue){
//                console.log("New Value = " + newValue);
//                console.log("Old Value = " + oldValue);
            }
            
            _signInWithEmailAndPassword(e){
              if (e) { e.preventDefault(); }
              this.error = null;
              this.$.auth.signInWithEmailAndPassword(this.email, this.password);
              this.email = null;
              this.password = null;
            };

            _createUserWithEmailAndPassword() {
              this.error = null;
              this.$.auth.createUserWithEmailAndPassword(this.email, this.password);
              this.email = null;
              this.password = null;
            };
            
            _signIn(){
                this.$.auth.signInWithPopup();
            }
            
            _signOut(){
                this.$.auth.signOut();   
            }
            
            _showError(e){
                console.log("Error = " + e.detail);
            }
        }
        window.customElements.define(LoginView.is, LoginView);
    </script>
</dom-module>