<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/app-layout/app-layout.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-app.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-auth.html">

<link rel="import" href="home-view.html">
<link rel="import" href="login-view.html">
<link rel="import" href="category-view.html">
<link rel="import" href="category-detail-view.html">
<link rel="import" href="product-view.html">
<dom-module id="mercado-em-casa-admin-app">
  <template>
    <style>
      :host {
        display: block;
      }
        
       app-header {
          position: fixed;
          width: 100%;    
          top: 0;
          left: 0;
          right: 0;
          z-index: 1;
          background-color: #9c27b0;
          color: white;
          --app-header-background-front-layer: {
            background-color: #4285f4;
          };
        }
        
        app-toolbar a{
            color: white;
        }
        
        .item-drawer{
            padding-bottom: 10px;
            text-align: center;
        }
        
        .item-drawer a{        
            color: black;
            text-decoration: none;
        }
        
        #drawer{
            z-index: 2;
        }
        
        .drawer-header{
            height: 50px;
            padding-top: 25px;
            background-color: #9c27b0;
            color: white;
            text-align: center;
            margin-bottom: 20px;
        }
        
        .drawer-content{
            
            
        }
      
        
/*        Small devices (landscape phones, 576px and up)*/
        @media (min-width: 576px) {
            iron-pages{ margin-top: 13%; } 
            span{ color: green; }
        }

/*        Medium devices (tablets, 768px and up)*/
        @media (min-width: 768px) {    
            iron-pages{ margin-top: 9%; } 
            span{ color: blue; }
        }

/*        Large devices (desktops, 992px and up)*/
        @media (min-width: 992px) {
             iron-pages{ margin-top: 7%; }  
             span{ color: yellow; }    
        }

/*        Extra large devices (large desktops, 1200px and up)*/
        @media (min-width: 1200px) {
            iron-pages{ margin-top: 6%; }  
            span{ color: red; }
        }
    </style>
    
<!--
    <firebase-app
        auth-domain="mercado-em-casa-admin.firebaseapp.com"
        database-url="https://mercado-em-casa-v1.firebaseio.com"
        api-key="AIzaSyA3nCs-d4oLc9yvFGnqRtx9P4-KVyQcnMY"> 
    </firebase-app>
    
-->
    <firebase-app
        auth-domain="mercado-em-casa-v1.firebaseapp.com"
        database-url="https://mercado-em-casa-v1.firebaseio.com"
        api-key="AIzaSyBSbjYUrW7XDbpouusVifmw1di5JyKcSVE"> 
    </firebase-app>
    
     <iron-ajax
        auto
        url="../../data/menuitems.json"
        handler-as="json"
        on-response="_handlerMenuItems">
    </iron-ajax>

    <app-location
      route="{{route}}">
    </app-location>    

    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{routeData}}"
      tail="{{subroute}}"
      active="{{pageActive}}">
    </app-route>
    
    <app-drawer id="drawer" swipe-open>
        
        <div class="drawer-header">
            <span>Mercado Em Casa</span>
        </div>
        <div class="drawer-content">
            <iron-list items="[[menuItems]]" as="item">            
                <template>
                    <span class="item-drawer"><a href="[[item.nameRoute]]">[[item.name]]</a></span>    
                </template>
            </iron-list>
        </div>
    </app-drawer>
    
    <app-header slot="header">
        <app-toolbar>
            <paper-icon-button icon="menu" on-click="_drawerToggle"></paper-icon-button>
            <div main-title>
                <span>Mercado em Casa Admin</span>
            </div>
            <a href="/home" hidden$="{{!signedIn}}"><paper-icon-button icon="home"></paper-icon-button></a>
            <a href="/login"><paper-icon-button icon="account-circle"></paper-icon-button></a>
        </app-toolbar>
    </app-header>
    
    <iron-pages
        selected="[[page]]"
        attr-for-selected="name"
        fallback-selection="view-404"
        role="main">

        <home-view name="home" route="{{subroute}}" menu-items="[[menuItems]]"></home-view>
        <login-view id="login" name="login" signed-in="{{signedIn}}" user="{{user}}"></login-view>
        <category-view name="categorias" route={{subroute}} item-key="{{itemKey}}"></category-view>
        <category-detail-view name="detail" route={{subroute}} key="{{itemKey}}"></category-detail-view>
        <product-view name="product" route={{subroute}}></product-view>
    </iron-pages>
  </template>

  <script>
    class MercadoEmCasaAdminApp extends Polymer.Element {
        static get is() { return 'mercado-em-casa-admin-app'; }
        static get properties(){
            return{
                page:{
                    type: String,
                    reflectToAttribute: true,
                    notify: true
                },
                
                menuItems:{
                    type: Object,
                    notify: true
                }
            };
        }

        static get observers(){
            return[
              '_routePageChanged(routeData.page)'  
            ];
        }
        
        _routePageChanged(page){
//            if(this.$.login.signedIn){
                this.page = page || 'home';
//            }else{
//                this.page = 'login';
//            }
            
        }
        
        _drawerToggle(){
            this.$.drawer.toggle();
        }
        
        _handlerMenuItems(e){
            this.menuItems = e.detail.response.menuitems;
        }
    }

    window.customElements.define(MercadoEmCasaAdminApp.is, MercadoEmCasaAdminApp);
  </script>
</dom-module>
