<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../style/flaty-bootstrap.html">

<dom-module id="product-view">
  <template>
    <style include="flaty-bootstrap" >
        :host {
            display: block;
        }
        
    </style>
    <div class="container">
        <h1>Produto</h1> 
    </div>
    
  </template>

  <script>
    class ProductView extends Polymer.Element {
      static get is() { return 'product-view'; }
        static get properties() {
            return {            
            };
        }

        constructor(){
            super();
            console.log("Entrei Product View");
        }
        
        ready(){
            super.ready();
            console.log("Entrei Ready");
        }
        
        connectedCallback(){
            super.connectedCallback();
            console.log("Connected Callback Called");
        }
    }
    window.customElements.define(ProductView.is, ProductView);
  </script>
</dom-module>
